### # 판다스를 활용한 데이터 탐색 실습
- 학습목표 :
    1. 데이터 탐색과정에서 사용되는 함수를 살펴보고 실전 사례를 통해 사용법을 익힌다.

In [29]:
import pandas as pd
from pandas import DataFrame
from pandas import Series

In [30]:
df=pd.read_excel('./네이버보고서.xls',skiprows=[0])

In [31]:
df.head(10)

,광고그룹,키워드,노출수,클릭수,클릭률(%),"평균클릭비용(VAT포함,원)","총비용(VAT포함,원)"
0,올인원 패키지 : 디자인 툴_파워컨텐츠_포토샵,-,2319456,9606.00,0.41,261.55,2512444
1,올인원 패키지 : 업무자동화_VBA,-,767491,8058.00,1.05,295.97,2384965
2,ㅍAOP 전체_중복키워드_디자인(삭제),일러스트,1137840,324.00,0.03,4841.66,1568699
3,올인원 패키지 : 데이터 분석 입문 온라인_파콘,-,694106,1863.60,0.27,630.59,1175174
4,3. html,HTML,9626374,813.60,0.01,1408.44,1145903
5,6. 파이썬,파이썬,384522,260.40,0.07,3705.36,964876
6,1. 코딩,코딩,562162,271.20,0.05,3243.22,879560
7,2. C언어 일반,C언어,271370,153.60,0.06,5269.26,809358
8,프로그래밍 전체_파워컨텐츠_블록체인(삭제),가상화폐,91369,2838.00,3.11,283.22,803770
9,AOP 전체_중복키워드_디자인,포토샵,1887822,393.60,0.02,1913.74,753247

In [32]:
df.tail(10)

,광고그룹,키워드,노출수,클릭수,클릭률(%),"평균클릭비용(VAT포함,원)","총비용(VAT포함,원)"
1371,7. 운영체제,가상머신,16605,0.00,0.00,0.00,0
1372,파이낸스 전체,부동산책,16722,0.00,0.00,0.00,0
1373,ㅍ올인원 패키지 : UX/UI 디자인 입문_연관검색어(삭제),VD,17504,0.00,0.00,0.00,0
1374,AOP 전체_중복키워드_디자인,포토샵단축키,18818,0.00,0.00,0.00,0
1375,올인원 패키지 : 업무자동화_3. 엑셀,SUMIF,23549,0.00,0.00,0.00,0
1376,올인원 패키지 : 업무자동화_3. 엑셀,엑셀셀서식,24016,0.00,0.00,0.00,0
1377,올인원 패키지 : 업무자동화_3. 엑셀,MATCH,32287,0.00,0.00,0.00,0
1378,마케팅KPI수립,LTV,32602,0.00,0.00,0.00,0
1379,data_camp_rmp_8,DECISION,60844,0.00,0.00,0.00,0
1380,4. 웹의 동작,REST,61193,0.00,0.00,0.00,0

In [33]:
# shape - dataframe의 크기(행, 열의 수) 조회하기
df.shape

(1381, 7)

In [34]:
# describe() - 각 열에 대한 기술통계량
# 데이터의 수, 평균, 표준편차, 최소값, 1사분위수, 2사분위수, 3사분위수, 최대값
# 지수 표기법(Exponential Notation, 10**n)
df.describe()

             노출수     클릭수  클릭률(%)  평균클릭비용(VAT포함,원)  총비용(VAT포함,원)
count    1381.00 1381.00 1381.00          1381.00       1381.00
mean    35054.15   52.53    0.35           981.63      37919.58
std    296465.03  387.50    1.00          1372.39     142149.16
min      1001.00    0.00    0.00             0.00          0.00
25%      1814.00    1.20    0.01            64.17         77.00
50%      3805.00    3.60    0.06           395.98       2123.00
75%     10734.00   14.40    0.24          1302.81      17435.00
max   9626374.00 9606.00   13.59          9362.53    2512444.00

In [35]:
# pandas 출력 옵션설정 - float형식으로 수치표기
pd.set_option('display.float_format', '{:.2f}'.format) # 항상 float 형식으로 뽑느다

In [36]:
df.describe()

             노출수     클릭수  클릭률(%)  평균클릭비용(VAT포함,원)  총비용(VAT포함,원)
count    1381.00 1381.00 1381.00          1381.00       1381.00
mean    35054.15   52.53    0.35           981.63      37919.58
std    296465.03  387.50    1.00          1372.39     142149.16
min      1001.00    0.00    0.00             0.00          0.00
25%      1814.00    1.20    0.01            64.17         77.00
50%      3805.00    3.60    0.06           395.98       2123.00
75%     10734.00   14.40    0.24          1302.81      17435.00
max   9626374.00 9606.00   13.59          9362.53    2512444.00

In [37]:
# columns - 칼럼명 조회
df.columns

Index(['광고그룹', '키워드', '노출수', '클릭수', '클릭률(%)', '평균클릭비용(VAT포함,원)',
       '총비용(VAT포함,원)'],
      dtype='object')

In [38]:
# unique() - 열(시리즈)의 고유값 조회
df['광고그룹'].unique()
len(df['광고그룹'].unique())

186

In [39]:
# unique()
# df['키워드']
len(df['키워드'].unique())

1112

In [40]:
#value_counts() - 열의 고유값 빈도
df['광고그룹'].value_counts()

올인원 패키지 : 업무자동화_3. 엑셀           93
AOP 전체_중복키워드_디자인                57
#000_마케팅 전체_main                48
ㅍAOP 전체_중복키워드_디자인(삭제)           46
타이포그래피와 편집디자인                   26
                                ..
fin_camp_rfs_9                   1
디지털 마케팅                          1
fin_camp_business_4              1
올인원 패키지 : 디지털 마케팅_2. 페이스북 광고     1
올인원 패키지 : 영상 제작/편집_7.에프터이펙트      1
Name: 광고그룹, Length: 186, dtype: int64

In [41]:
df['키워드'].value_counts()

-           8
포토샵         5
구글광고        5
GUI         5
서비스기획       4
           ..
엑셀원형그래프     1
페이스북픽셀      1
TREE        1
브랜드런칭       1
블록체인스타트업    1
Name: 키워드, Length: 1112, dtype: int64

In [42]:
# sort_values() - 정렬(default : 오름차순)
# 노출수 기준 정렬
df['노출수'].sort_values()

# 내림차순 정렬
df['노출수'].sort_values(ascending=False)

4       9626374
173     3095998
0       2319456
9       1887822
13      1470452
         ...
442        1007
983        1006
597        1005
445        1003
1057       1001
Name: 노출수, Length: 1381, dtype: int64

In [43]:
# 클릭수 기준 정렬
df['클릭수'].sort_values()

1380      0.00
1159      0.00
1160      0.00
1161      0.00
1162      0.00
         ...
26     2535.60
83     2798.40
8      2838.00
1      8058.00
0      9606.00
Name: 클릭수, Length: 1381, dtype: float64

In [44]:
# 노출수 칼럼 선그래프
df_group['노출수'].plot()
plt.show()

NameError: name 'df_group' is not defined